.navbar-expand-lg navbar-light bg-light{
    background-color: rgba(0, 0, 0, 0.8);
}

.card {
    /* top:50%;
    width:100%;
    text-align:center;
    position:fixed; */
    height:35vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-brand{
    font-family: 'Secular One', sans-serif;
    font-size: 32px;
    color: #353553;
    text-shadow: 0.1px  0px 0px #353535,
    0px  0.1px 0px #1a3c27,
   -0.5px  0px 0px #0d8c46,
    0px -0.1px 0px #353535;
    /* text-shadow: 4px 4px 4px #aaa; */
}

.custom-overlay__caption {
    background-color: rgba(0, 0, 0, 0.8);
    max-height: 240px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    padding: 2px;
    font-size: 90%;
  }
  
  .custom-overlay__tag {
    word-wrap: break-word;
    display: inline-block;
    background-color: white;
    height: auto;
    font-size: 75%;
    font-weight: 600;
    line-height: 1;
    padding: .2em .6em .3em;
    border-radius: .25em;
    color: black;
    vertical-align: baseline;
    margin: 2px;
  }